.profile__specialization {
    color: white;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}
@media screen and (max-width: 400px) {
    .profile__specialization {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;  
    }
}