.popup__header {
    margin: 25px 0 0 36px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-self: normal;
    margin-left: 40px;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 400px) {
    .popup__header {
        font-size: 18px;
        line-height: 22px;
        align-self: center;
        margin: 25px 0 0;
    }        
}